<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 Test Page - {{ framework.name }}</title>
    <link rel="stylesheet" id="stylesheet">
</head>

<body>
    {% render 'dropin/html5-elements-tester' %}
    <script src="/assets/js/semantic.js"></script>
</body>

</html>