<footer class="container">
  <small>&copy; {{ "now" | date: "%Y" }} Built with <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://liquidjs.com/">LiquidJS</a> by <a href="{{site.authorUrl}}">{{ site.authorName }}</a> - <a href="{{site.github}}">GitHub repository</a> - <a href="/admin" target="_blank">Admin</a></small>
</footer>