<header>
  <h1>{{ site.description }}</h1>
  <nav>
    <ul>
      {% for nav in collections.primary %}
        <li {% if page.url == nav.url %}aria-current="page"{% endif %}>
          <a href="{{ nav.url }}">{{ nav.data.navTexte }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>