---
title: Html Semantic Elements
description: Description of the frameworks semantic elements.
layout: base
---

{% for i in frameworks %}
    <p><strong>{{ i.name | capitalize }}</strong>: Header, Main, Footer, Article & Section: {{ i.semantic }} - main navbar styled: {{ i.nav }} - responsive navbar on cellphones: {{ i.responsive }}</p>
{% endfor %}