<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="structure">JSON</a></li>
        <li><a href="elements">Elements</a></li>
        <li><a href="sort">Sorted</a></li>
    </ul>
</nav>