<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="structure">JSON</a></li>
        <li><a href="elements">Elements</a>
            <ul>
                <li><a href="filters/name">Name</a></li>
                <li><a href="filters/date">Date</a></li>
                <li><a href="filters/size">Size</a></li>
            </ul>
        </li>
        <li><a href="sort">Sorted</a></li>
    </ul>
</nav>