<nav aria-label="Primary">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="../../../structure">JSON</a></li>
        <li><a href="../../../elements">Elements</a>
            <ul>
                <li><a href="../../../sort/name">Name</a></li>
                <li><a href="../../../sort/date">Date</a></li>
                <li><a href="../../../sort/size">Size</a></li>
            </ul>
        </li>
        <li><a href="../../../sort">Sorted</a></li>
    </ul>
</nav>