---
title: Filters
description: Frameworks filtered
date: 2023-10-03
layout: base
tags: primary
navTexte: Filters
---

<h2>Filters</h2>
<ul>
    {% for item in collections.list reversed %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>

<h2>Categories</h2>
<ul>
    {% for item in collections.category reversed %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>