---
title: Only with semantic layout
description: CSS frameworks with semantic layout
layout: base
tags: [list]
---

{% assign framework = frameworks.items | where: 'semantic', 'true' | sort: 'published' | reverse %}

{% include 'table2' %}

<ul>
    <li>Sass: Scss & CSS organized files</li>
    <li>Semantic layout: {{ "<header>, <main> & <footer>" | escape }}</li>
    <li>Nav: {{ "<nav>, <ul> & <li>" | escape }}, usualy inside {{ "<header>" | escape }}</li>
    <li>Responsive: @media rules</li>
</ul>