---
title: By stars
description: A list of CSS frameworks
layout: base
tags: [list]
---

{% assign list = frameworks | map: 'type' | uniq %}

{% for item in list %}

<h2><strong>{{ item }}</strong></h2>

{% assign framework = frameworks | where: "type", item | sort: 'stars' | reverse | sort: 'type' %}

    {% include 'table2' %}

{% endfor %}
